.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.section-work {
    padding-bottom: 94px;
}

.section-team {
    background: var(--secondary-bd-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-client {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primery-white-color);
}